body {
    background-color: #f9ffe3;
    margin: 0;
    padding: 0;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    align-items: center;
    height: 100vh;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }

  .nav-buttons {
    background-color: #c6c2b6;
    color: #333333;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    margin-left: 10px;
  }

.nav-buttons:hover {
    background-color: #e6f5d9;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
  }
  
h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.flights-container {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .one-way-flights,
  .round-trip-flights {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin: 10px;
    width: 300px;
  }
  
  .flights-container h3 {
    color: #333333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .flights-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .flights-container li {
    margin-bottom: 10px;
  }
  
  .flight-info {
    display: flex;
    justify-content: space-between;
  }

  .flight-destination {
    font-weight: bold;
  }
  
  .flight-dates,
  .flight-price {
    color: #666666;
    font-size: 14px;
  }
  
  .flight-price {
    font-weight: bold;
  }
  
  form {
    display: inline;
  }
  
  form button[type="submit"] {
    background-color: #e6f5d9;
    color: #333333;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #d3edc2;
  }