<!DOCTYPE html>
<html>
{% load static %}

<head>
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body>
    <header>
    </header>

    <div class="form">
        <h2>Fly with us!</h2><br>
        {% if messages %}
        {% for message in messages %}
        <h2>{{message}}</h2>
        {% endfor %}
        {% endif %}
        <form action="" method="post" id="register">
            {% csrf_token %}
            <input type="text" name="username" placeholder=" Username ">
            <input type="email" name="email" placeholder=" Email ">
            <input type="password" name="password" placeholder=" Password ">

        </form>
        <button class="btn" form="register" value="submit">Register</button><br>

        <p class="link">Already have an account?<br> 
            <a href="{% url 'loginUser' %}">&nbsp;Login&nbsp;</a> here</a>
        </p>

        <br>
        <button onclick="location.href='http://localhost:8000/';" class="btn">Homepage</button>
    </div>

</body>

</html>